<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.mishiranu.instantimage"
	android:versionCode="1"
	android:versionName="1.1.0">

	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="25" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application android:allowBackup="true" android:name=".ui.MainApplication"
		android:icon="@mipmap/ic_launcher" android:label="Instant Image">

		<activity android:name=".ui.FetchActivity" android:theme="@style/Theme.Main">

			<intent-filter>

				<action android:name="android.intent.action.GET_CONTENT" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.OPENABLE" />
				<data android:mimeType="image/*" />

			</intent-filter>

		</activity>

		<activity android:name=".ui.PreviewActivity" android:theme="@style/Theme.Black"
			android:label="@string/text_preview" />

		<provider android:name=".ui.ImageProvider" android:authorities="com.mishiranu.providers.instantimage"
			tools:ignore="ExportedContentProvider" android:exported="true" android:grantUriPermissions="true" />

	</application>

</manifest>
