<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.mishiranu.instantimage"
	android:versionCode="1"
	android:versionName="1.1.0">
	
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="24" />
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
	<application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="Instant Image">
		
		<activity android:name=".FetchActivity" android:theme="@style/Theme.Main">
			
			<intent-filter>
				
				<action android:name="android.intent.action.GET_CONTENT" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.OPENABLE" />
				<data android:mimeType="image/*" />
				
			</intent-filter>
			
		</activity>
		
		<provider android:name=".ImageProvider" android:authorities="com.mishiranu.providers.instantimage"
			tools:ignore="ExportedContentProvider" android:exported="true" android:grantUriPermissions="true" />
		
	</application>
	
</manifest>